<!-- mostrar un card con los datos del usuario -->
<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
  
    <label for="inputNombre" class="form-label">Nombre</label>
    <input formControlName="nombre" type="text" class="form-control" id="inputNombre" required>
  
  
    <label for="inputNombre" class="form-label">DNI</label>
    <input formControlName="dni" type="text" class="form-control" id="inputDni" required>
 
  
    <label for="inputNombre" class="form-label">Direccion</label>
    <input formControlName="direccion" type="text" class="form-control" id="inputDireccion" required>
  
  
    <label for="inputNombre" class="form-label">Ciudad</label>
    <input formControlName="ciudad" type="text" class="form-control" id="inputCiudad" required>
  
  
    <label for="inputNombre" class="form-label">CodigoPostal</label>
    <input formControlName="cp" type="text" class="form-control" id="inputCp" required>
  
  
    <label for="inputNombre" class="form-label">Provincia</label>
    <input formControlName="provincia" type="text" class="form-control" id="inputProvincia" required>
  
  
    <label for="inputNombre" class="form-label">Telefono</label>
    <input formControlName="telefono" type="text" class="form-control" id="inputTelefono" required>
  
    <label for="inputNombre" class="form-label">Email</label>
    <input formControlName="email" type="text" class="form-control" id="inputEmail" required>


  
    <button type="submit" class="btn btn-primary">Editar</button>
 
</form>