<div class="container mt-4">
    <div class="row">
    <div class="col-md-6 offset-md-3">
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="nombre" placeholder="Nombre">
    </div>
    <div class="mb-2">
    
    <input type="text" class="form-control form-control-sm" formControlName="dni" placeholder="DNI">
    </div>
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="direccion" placeholder="Dirección">
    </div>
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="ciudad" placeholder="Ciudad">
    </div>
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="cp" placeholder="Código Postal">
    </div>
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="provincia" placeholder="Provincia">
    </div>
    <div class="mb-2">
    <input type="text" class="form-control form-control-sm" formControlName="telefono" placeholder="Teléfono">
    </div>
    <div class="mb-2">
    <input type="email" class="form-control form-control-sm" formControlName="email" placeholder="Correo Electrónico">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button><div class="inline-div"[style.color]="creado?'green':'red'">{{mensaje}}</div>
</form>
</div>
</div>
</div>

